name: rdma-test

image:
  registry: ghcr.io
  repository: spidernet-io/rdma-tools
  tag: "12.5.1-33f96dab24d5a71cbe275259d92771ae76d26d48"
  #registry: ghcr.io
  #repository: coreweave/nccl-tests
  #tag: "12.4.1-cudnn-devel-ubuntu22.04-nccl2.21.5-1-85f9143"

  pullPolicy: IfNotPresent
  imagePullSecrets: []

hostnetwork: false
tolerations: []

nodeSelector:
  kubernetes.io/os: linux

affinity: {}

resources:
  limits:
    cpu: 2000m
    memory: 4000Mi
#   spidernet.io/sriov: 1
  requests:
    cpu: 200m
    memory: 150Mi

extraAnnotations:
  #v1.multus-cni.io/default-network: spiderpool/calico
  #k8s.v1.cni.cncf.io/networks: |-
  #   [{"name":"gpu1-sriov","namespace":"spiderpool"},
  #    {"name":"gpu2-sriov","namespace":"spiderpool"},
  #    {"name":"gpu8-sriov","namespace":"spiderpool"}]

securityContext:
  #privileged: true
  #capabilities:
  #  add: [ "IPC_LOCK" ]

command:
  #- "/usr/bin/sleep"
  #- "infinity"

extraEnv: []

extraVolumes: []
# - name: test-val
#   mountPath: /host/tmp

extraVolumeMounts: []
# - name: test-val
#   mountPath: /tmp

service:
  type: ClusterIP
